<a href="https://colab.research.google.com/github/maas41382-eng/KKA-X-Semester-1/blob/main/FUNGSI_PRINT_IRMA_SAFA_RUBIANTI_IPYN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# #Menampilkan Teks Bebas

In [ ]:
print("hello word")

hello word

In [ ]:
print("irma safa rubianti")

irma safa rubianti

#Menampilkan Nilai Variabel

In [ ]:
Nama ="irma safa rubianti"
print(Nama)

irma safa rubianti

In [ ]:
usia = 16
print (usia)

16

#Menampilkan NilAI VARIABEL DAN TEKS BEBAS

In [ ]:
harga_telur=2600
print("harga telur per 1 kg adalah", harga_telur)

harga telur per 1 kg adalah 2600

In [ ]:
harga_telur=2600
print("harga telur per 1 kg adalah", harga_telur)

harga telur per 1 kg adalah 2600

In [ ]:
nama_pembeli =" nadi "
print("nama pembeli telur adalah" + nama_pembeli)

nama pembeli telur adalah nadi

In [ ]:
print(f"nama pembeli telur adalah {nama_pembeli}")

nama pembeli telur adalah  nadi

#Latihan soal

menampilkan teks bebas

In [ ]:
print("hallo nama saya nana")

hallo nama saya nana

MENAMPILKAN NILAI VARIABEL

In [ ]:
Nama = "via naria"
print (Nama)

via naria

In [ ]:
usia = 25
print(usia)

#menampilkan nilai variabel teks bebas

In [ ]:
Nilai_kka = 90
print(f"Nilai kka saya adalah{Nilai_kka}")

In [ ]:
Nilai_kka = 90
print(f"Nilai kka saya adalah{Nilai_kka}")

In [ ]:
na_nilai kka =" irma "
print("nama nilai kka adalah" + nama_nilai kka)

In [ ]:
harga_telur=400
print("harga telur per 1 kg adalah", harga_telur)

harga telur per 1 kg adalah 400

#Escape character

In [ ]:
print("Nama: Irma Safa")
print("kelas:x.10" )
print("Nomor absen:10")

Nama: Irma Safa
kelas:x.10
Nomor absen:10

In [ ]:
print("Nama: Irma Safa")
print("kelas:x.10")
print("Nomor absen:10")

Nama: Irma Safa
kelas:x.10
Nomor absen:10

In [ ]:
print ("Nama\t\t: Irma Safa\nkelas\t\t:x.10\nNomor absen\t: 28")

Nama		: Irma Safa
kelas		:x.10
Nomor absen	: 28

In [ ]:
print ("""Nama:Irma Safa
kelas:x.10
Nomor absen:10""")

Nama:Irma Safa
kelas:x.10
Nomor absen:10

In [ ]:
print ('rawa')

rawa

In [ ]:
print("Bu Shinta berkata, \"OK\"")

Bu Shinta berkata, "OK"

In [ ]:
print('Bu Shinta berkata,"OK"')

Bu Shinta berkata,"OK"

In [ ]:
print('Bu Shinta berkata, \"OK\"')

Bu Shinta berkata, "OK"

In [ ]:
print('Bu Shinta berkata, \"OK\"')

Bu Shinta berkata, "OK"

#parameter fungsi

In [ ]:
nama_siswa_1  = "Favian"
nama_siswa_2 = "Naufal"
nama_siswa_3 = "Humaira"
print(nama_siswa_1, nama_siswa_2, nama_siswa_3, sep="*")

Favian*Naufal*Humaira

### 1. Multiple Assignment (Tuple Unpacking)

In [ ]:
# Anda dapat menetapkan beberapa variabel pada satu baris dengan memberikan beberapa nilai yang dipisahkan koma.
a, b, c = 10, 20, 30
print(f"a: {a}, b: {b}, c: {c}")

# Ini juga bekerja dengan tipe data yang berbeda.
x, y, z = "Apple", 3.14, True
print(f"x: {x}, y: {y}, z: {z}")

### 2. Menetapkan Nilai yang Sama ke Beberapa Variabel

In [ ]:
# Anda dapat menetapkan nilai tunggal ke beberapa variabel secara bersamaan.
p = q = r = 100
print(f"p: {p}, q: {q}, r: {r}")

### 3. Menggunakan List atau Tuple untuk Unpacking

In [ ]:
# Anda dapat membongkar (unpack) elemen dari list atau tuple ke beberapa variabel.
my_list = [1, 2]
var1, var2 = my_list
print(f"var1: {var1}, var2: {var2}")

my_tuple = ('hello', 'world', 123)
word1, word2, number = my_tuple
print(f"word1: {word1}, word2: {word2}, number: {number}")

In [ ]:
print(nama_siswa_1, end="#")
print(nama_siswa_2, end="#")
print(nama_siswa_3)

Favian#Naufal#Humaira

In [ ]:
#Tampilkan keluaran berupa:
 #Naufal-Favian-Humaira-Favian
#Dengan

In [ ]:
#Tampilkan keluaran berupa:
#Naufal-Favian-Humaira-Favian
#Dengan parameter sep
#Tampilkan keluaran berupa:
 #Naufal-Favian
#Humaira Favian